* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column; }
  body .back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    min-height: 600px;
    filter: grayscale(100%);
    background: url("../img/desktop.jpg") no-repeat center; }
  body #about {
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    min-height: 600px; }
    body #about .overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      min-width: 400px;
      min-height: 600px;
      background-color: #1abc9c;
      opacity: 0.5; }
  body #welcome {
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    min-height: 600px; }
    body #welcome .overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      min-width: 400px;
      min-height: 600px;
      background-color: #e74c3c;
      opacity: 0.5; }
    body #welcome .content div {
      display: flex;
      padding: 20px;
      width: 50%;
      height: 100%; }
      body #welcome .content div:first-child {
        border-right: dashed 1px rgba(255, 255, 255, 0.5);
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body #welcome .content div:first-child img {
          border: 6px solid white;
          border-radius: 100%;
          width: 300px;
          height: 300px; }
        body #welcome .content div:first-child p {
          text-align: justify;
          width: 100%;
          font-weight: lighter;
          font-family: 'Barlow Semi Condensed';
          color: white;
          font-size: 24px; }
          body #welcome .content div:first-child p:first-of-type {
            font-size: 40px;
            margin-bottom: 0; }
          body #welcome .content div:first-child p:last-of-type {
            margin-top: 0;
            text-align: right; }
      body #welcome .content div:last-child ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Barlow Semi Condensed'; }
        body #welcome .content div:last-child ul li {
          cursor: pointer;
          transition: all 600ms ease;
          display: flex;
          align-items: center;
          align-self: center;
          color: white;
          font-size: 50px;
          height: 10%;
          width: 100%;
          list-style: none;
          padding-left: 25px; }
          body #welcome .content div:last-child ul li:nth-child(1) {
            background: linear-gradient(#1abc9c, #1abc9c) no-repeat left center;
            background-size: 15px 100%; }
            body #welcome .content div:last-child ul li:nth-child(1):hover {
              background-size: 100% 100%;
              text-shadow: 0 0 5px black; }
          body #welcome .content div:last-child ul li:nth-child(2) {
            background: linear-gradient(#9b59b6, #9b59b6) no-repeat left center;
            background-size: 15px 100%; }
            body #welcome .content div:last-child ul li:nth-child(2):hover {
              background-size: 100% 100%;
              text-shadow: 0 0 5px black; }
          body #welcome .content div:last-child ul li:nth-child(3) {
            background: linear-gradient(#e74c3c, #e74c3c) no-repeat left center;
            background-size: 15px 100%; }
            body #welcome .content div:last-child ul li:nth-child(3):hover {
              background-size: 100% 100%;
              text-shadow: 0 0 5px black; }
          body #welcome .content div:last-child ul li:nth-child(4) {
            background: linear-gradient(#3498db, #3498db) no-repeat left center;
            background-size: 15px 100%; }
            body #welcome .content div:last-child ul li:nth-child(4):hover {
              background-size: 100% 100%;
              text-shadow: 0 0 5px black; }
          body #welcome .content div:last-child ul li:nth-child(5) {
            background: linear-gradient(#f1c40f, #f1c40f) no-repeat left center;
            background-size: 15px 100%; }
            body #welcome .content div:last-child ul li:nth-child(5):hover {
              background-size: 100% 100%;
              text-shadow: 0 0 5px black; }
          body #welcome .content div:last-child ul li i {
            width: 20%;
            padding-right: 10px;
            text-align: center; }
          body #welcome .content div:last-child ul li span {
            width: 80%; }
  body .content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    min-height: 600px;
    padding: 40px;
    display: flex; }

/*# sourceMappingURL=style.css.map */
